/* header+ navigation */
.logo.mx-auto.d-block {
    margin: 2rem;
}

.bg-title {
    background-color: #12162d;
    width: 100%;
    height: 180px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-1 {
    text-transform: uppercase;
}

.nav-item {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
}

/* content */
.bg-img-01 {
    padding: 0 190px;
}

.img-01 {
    width: 1140;
    height: 641px;
    border-radius: 9px;
}

.img01 {
    width: 100%;
    padding-right: 180px;
    padding-left: 180px;

    padding-bottom: 30px;
}

.content1 {
    width: 100%;
    padding-right: 263px;
    padding-left: 263px;
    padding-top: 30px;
    font-size: 20px;
}

.img02 {
    width: 100%;
    padding-right: 250px;
    padding-left: 250px;
    border-radius: 9px;
}

.video01 {
    height: 500px;
    width: 100%;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 30px;
}

/* css image cho user_review_02 */
.img06 {
    width: 100%;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 30px;
    border-radius: 30px;
}

/* footer */
.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin: 115px;
    margin-top: 50px;
}

.icon-contact {
    margin: 115px;
    margin-top: 50px;
}

.footer-about {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.footer {
    background-color: whitesmoke;
}

/* respponsive */
@media screen and (max-width: 768px) {
    .footer-row {
        display: inline;
        text-align: center;
    }

    .footer-logo {
        align-items: center;
        margin-bottom: -40px;
    }

    a.logo {
        display: flex !important;
        justify-content: center;
    }

    .footer-about {
        display: inline;
        text-align: center;
    }

}

@media (max-width: 980px) {
    .content1 {
        padding: 0 10px;
    }

    .img02 {
        padding: 0 10px;
    }

    .img06 {
        padding: 0 10px;
    }
}