/* header+ navigation */
.logo.mx-auto.d-block{
    margin: 2rem;
}
.navigation{
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: 14px;
    padding: 0 15px;
    margin: 0 44px;
}


/* content */
.content{
    display: flex;

}
.card-img-overlay{
    position: relative
}
.card-text{
    position: absolute;
    bottom: 15px;
}
.card-title.news{
    background-color: rgba(211, 64, 64, 0.9);
    border-radius: 2px;
    width: 80px;
    height: 25px;
    text-align: center;
}

.card-title.rates{
    background-color: rgba(54, 214, 139, 0.9);
    border-radius: 2px;
    width: 160px;
    height: 25px;
    text-align: center;
}
.card-img{
    height: 255px;
    width: 400px;
    margin-top: 10px;
}
.card.text-white.bg-dark{
    box-sizing: border-box;
    height: 350px;
    width: 400px;
    margin: 10px;
}

.container-fluid{
    display: flex;
    justify-content: space-around;

}
.card.mb-3{
    box-sizing: border-box;
    height: 165px;
    width: 293px;
    margin: 15px 44px;
    position: relative;
}
h5.card-title.news{
    position: absolute;
    top: 10px;
    left: 10px;
}