html {
    scroll-behavior: smooth;
}
.header{
    display: flex;
    margin-top: 20px;
}
.header img{
    margin-left: 200px;
    width:180px;
}
.header h2{
   font-size: 24px;
   line-height: 28px;
   text-decoration: none solid (34,34,34);
   margin-top: 23px;
}
.nav{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}
.nav li a{
    list-style: none;
    margin: 30px;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: black;
    display: block;
}
.nav li a:hover{
    color: rgba(0, 0, 0, 0.514)
}


@media screen and (max-width: 768px){
    .header img{
        margin-left: 0px;
    }.nav li a{
        list-style: none;
        margin: 15px;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;
        color: white;
        display: block;
    }
}