@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* header+ navigation */
.logo.mx-auto.d-block {
    margin: 2rem;
}

.navigation {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: 14px;
    padding: 0 15px;
    margin: 0 44px;
}

.content {
    background-color: #12162d;
    height: 242px;
    text-align: center;
    padding-top: 40px;
}

.content .h_danhgia {
    color: white;
    background-color: #43aa8b;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.content .span {
    color: white;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.img img {
    border-radius: 10px;
}


.content .span h1 {
    font-weight: bold;
    font-size: 2em;
}

.main_content {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.main_content p {
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 1.5em;
}

/* footer */
.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin: 115px;
    margin-top: 50px;
}

.icon-contact {
    margin: 115px;
    margin-top: 50px;
}

.footer-about {
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: whitesmoke;
    margin-top: 100px;
}

/* respponsive */
@media screen and (max-width: 1280px) {

    .h_danhgia {
        text-align: center;
    }

    .main_content p {
        text-align: center;
        width: 100%;
        height: auto;
    }

    .content .span {
        text-align: center;
        width: 350px;
    }

    .content img {
        width: 100%;
        height: auto;
    }

    .main_content iframe {
        width: 100%;

    }

}